<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Upload</title>
</head>
<body>
    <div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <p>Загрузите ваши фотографии на сервер</p>
            <!-- EJS -->
            <p>
                <%= typeof msg != "undefined" ? msg : "" %>
            </p>

            <!-- <p><input type="file" name="myImage" accept="image/*,image/jpeg"> -->
            <p><input type="file" name="myImage">
            <input type="submit" value="Отправить"></p>
        </form>
    </div>
<!-- Croppie -->
    <div>
        <img src="<%= typeof file != 'undefined' ? file : '' %>" class="my-image">
    </div>
        <script>
            
        </script>
</body>
</html>